@charset "UTF-8";

body {
	background-color: #000;
	color: #fff;
	font-family: Arial;
	font-size: 12pt;
	margin: 0;
}

#board {
	padding: 0 0 3.6em 0;
}

.card {
	float:left;
	height: 7.4em;
	margin: 4.1em .5em 0 0;
	-webkit-perspective: 1000;
	   -moz-perspective: 1000;
	     -o-perspective: 1000;
	        perspective: 1000;
	position: relative;
	width: 12.6em;
}

.endcard {
	clear:both;
}

.cardwrapper {
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transition: transform .7s;
	   -moz-transition: transform .7s;
	     -o-transition: transform .7s;
	        transition: transform .7s;
	width: 100%;
}

.cardwrapper.flipped {
	-webkit-transform: rotateY( 180deg );
	   -moz-transform: rotateY( 180deg );
	     -o-transform: rotateY( 180deg );
	        transform: rotateY( 180deg );
}

.cardwrapper figure {
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;
	background: white;
	color: black;
	display: block;
	height: 100%;
	margin: 0;
	position: absolute;
	width: 100%;
}

.cardwrapper figure:before {
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;
	border-bottom: 3.6em solid white;
	border-left: 6.28em solid transparent;
	border-right: 6.28em solid transparent;
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	top: -3.55em;
	width: 0;
}

.cardwrapper figure:after {
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;
	border-left: 6.28em solid transparent;
	border-right: 6.28em solid transparent;
	border-top: 3.6em solid white;
	bottom: -3.55em;
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	width: 0;
}

.cardwrapper .back {
	-webkit-transform: rotateY( 180deg );
	   -moz-transform: rotateY( 180deg );
	     -o-transform: rotateY( 180deg );
	        transform: rotateY( 180deg );
}

.red .cardwrapper .front {
	background: red;
	color: white;
}
.red .cardwrapper figure.front:before {
	border-bottom-color: red;
}
.red .cardwrapper figure.front:after {
	border-top-color: red;
}

.blue .cardwrapper .front {
	background: blue;
	color: white;
}
.blue .cardwrapper figure.front:before {
	border-bottom-color: blue;
}
.blue .cardwrapper figure.front:after {
	border-top-color: blue;
}

.transparent .cardwrapper .front {
	background: transparent;
	color: white;
}
.transparent .cardwrapper figure.front:before {
	border-bottom-color: transparent;
}
.transparent .cardwrapper figure.front:after {
	border-top-color: transparent;
}
